@keyframes visible {
    0% {opacity: 0; margin-left: 100%;}
    /* 50% {opacity: 0;} /* Etat de l'attribut opacity a la moitié de l'animation */
    100% {opacity: 1; margin-left: 0;}
}
@keyframes visible2 {
    0% {opacity: 0;}
    /* 50% {opacity: 0;} /* Etat de l'attribut opacity a la moitié de l'animation */
    100% {opacity: 1;}
}
@keyframes develop {
    0% {width: 0;}
    100% {width: 34vw;}
}