footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: 3;
    background-color: var(--couleur1);
    z-index: 2;
    height: 15vh;
}
input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1.8em;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 6px 6px 6px 6px;
}
#social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.social_line {
    display: flex;
    align-items: center;
    width: auto;
    padding: 2vh;
}
a {
    color: white;
    font-size: 2.5em;
}
#contact {
    display: flex;
    align-items: center;
}